<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check the register student</title>
    <link rel="stylesheet" href="prof.css">
</head>
<body>

    <form method="POST" action="/reg_student">
        <label>Last Name:<input name="student_lasname" required></label>
        <br>
        <label>First Name:<input name="student_firname" required></label>
        <br>
        <label>EmpleID:<input name="student_eid" required></label>
        <br>
        
        <input type="submit" value="Register">
    </form>
    
    
    <table>
        <thead>
            <tr>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">EmpleID</th>
                <th scope="col">Academic Level</th>
                <th scope="col">Major</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>

            <% requestList.forEach(requests=>{   %>
                <tr>
                    <td><%= requests.lastName %></td>
                    <td><%= requests.firstName %></td>
                    <td><%= requests.ID %></td>
                    <td><%= requests.Level %></td>
                    <td><%= requests.Major %></td>
                    <td><%= requests.Email %></td>
                </tr>
            <% })  %> 
            
        </tbody>
    </table>
    
    <a href="home_prof"> Go Back </a>

</body>
</html>